{% unless template == '404' %}

<nav class="nav {{ section.settings.header_color }}">
    <div class="content-wrapper">
        <div class="nav-inner">
            <a href="/"> <img class="logo" src="{{ section.settings.logo_image | img_url }}" alt=""></a>
           
            <div class="nav-right">
                <div class="menu">
                    {% for link in linklists[section.settings.menu_links].links %}
                        {% if link.links != blank %}
                            <div>
                                <div class="dropdown" >
                                <a href="{{ link.url }}" class="menu-link"  >{{ link.title }} {% render 'icon-dropdown' %}</a>
                                </div>
                            <div class="dropdown-box">
                                {% for sublink in link.links %}
                                    <div class="dropdown-item">
                                        
                                        <div class="circle-icon" ></div>
                                             
                                                <a href="{{ sublink.url }}">{{ sublink.title }}</a>
                                            
                                        {% render 'icon-arrow-right' %}
                                       
                                    </div>
                                {% endfor %} 
                                </div>
                            </div>
                            
                            
                        {% else %}
                            <a href="{{ link.url }}" class="menu-link {% if section.settings.header_color == "blue" %} white {% endif %}"> {{ link.title }}</a>
                        {% endif %}
                        
                        
 
                        
                    {% endfor %}
                </div>
                <div class="information">
                    
                    <button class="cart-button primary-button primary-button-red">
                        {% render 'icon-shopping-bag' %}
                        <a class="button-text-white flex" href="{{ routes.cart_url }}" >Kurv(<div class="cart-count" style="color:white;">{{ cart.item_count }}</div>)</a>
                    </button>
                    
                </div>
                
            </div>
            <div id="toggle" aria-expanded="false" onclick="toggleAriaExpanded('toggle')" class=" burgerbar">{% render 'icon-burgerbar' %}</div>
        </div>
    </div>
    
    <div class="mega-menu">
        {% for link in linklists[section.settings.menu_links].links %}
            <div class="mega-menu_nav-item flex">
                <div class="mega-menu_circle-icon"></div>
                <a href="{{ link.url }}" style="color: var(--text-color);" class="menu-link {% if section.settings.header_color == "blue" %} white {% endif %}"> {{ link.title }}</a>
            </div>
        {% endfor %}
        <button class="cart-button primary-button primary-button-red">
            {% render 'icon-shopping-bag' %}
            <a class=" button-text-white flex" href="{{ routes.cart_url }}" >Kurv(<div class="cart-count" style="color:white;">{{ cart.item_count }}</div>)</a>
        </button>
    </div>   
   
</nav>

{% endunless %}

{% schema %}
{
    "name": "header",
    "settings": [
        {
            "type": "link_list",
            "id": "menu_links",
            "label": "Primary menu links",
            "default": "main-menu"

        },
        {
            "type": "image_picker",
            "id": "logo_image",
            "label": "Logo image"
        },
        {
            "type": "select",
            "id": "header_color",
            "label": "Header background color",
            "default": "yellow",
            "options": [
                {"value": "yellow", "label": "yellow"},
                {"value": "blue", "label": "blue"}
            ]
        }
        ]
}
{% endschema %}