<div class="heading " {% if section.settings.remove_image == false%} style="display: block;" {% endif %} >
    <div class="heading_information">
        <h1 class="heading_information_header">{{ section.settings.heading_text }}</h1>
        <p>{{ section.settings.description_text }}</p>
    </div>

    {% if section.settings.remove_image %}
        <img src=" {{ section.settings.heading_image | img_url: 'master' }} " alt="" style="height:{{ section.settings.heading_range }}vh;">
    {% endif %}
</div>

<style>
    .heading {
        height: {{ section.settings.heading_range }}vh;
    }

    .heading_information_header{
        word-wrap: normal;
    }    
    
    @media (max-width: 692px) {
    .heading{
        height: {{ section.settings.heading_range_mobile }}vh;
    }

}
</style>

{% schema %}
{
    "name": "heading",
    "settings": [
        {
            "type": "text",
            "id": "heading_text",
            "label": "Heading text",
            "default": "Heading"

        },
        {
            "type": "range",
            "id": "heading_range",
            "label": "Section height",
            "min": 20,
            "max": 40,
            "step": 5,
            "default": 20

        },
        {
            "type": "range",
            "id": "heading_range_mobile",
            "label": "Section height mobile",
            "min": 20,
            "max": 40,
            "step": 5,
            "default": 20

        },
        {
            "type": "range",
            "id": "heading_size",
            "label": "Text size",
            "min": 1,
            "max": 10,
            "step": 0.5,
            "default": 3.5

        },
        {
            "type": "text",
            "id": "description_text",
            "label": "Description text",
            "default": "Description"
        },
        {
            "type": "image_picker",
            "id": "heading_image",
            "label": "Image"
        },
        {
            "type": "checkbox",
            "id": "remove_image",
            "label": "Remove image",
            "default": true
        }
        ],
        "presets": [
                {
                    "name": "Heading"
                }
            ]
}
{% endschema %}