<div class="hero">
    {% unless section.settings.show_overlay %}
        <div class="image-overlay" style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity }}% ;"></div>
    {% endunless %}
    <div>
        <img src=" {{ section.settings.hero_img_url | img_url: 'master' }} " alt="">
        <div class="hero-text">
            <h1 style="color: {{ section.settings.hero_heading_text_color }} ;"> {{ section.settings.hero_header_text }} </h1>
                {% if section.settings.remove_buttons == true %}
                    <div class="hero-buttons">
                        <button class="{{ section.settings.button_style }}  {{  section.settings.button_style }}-{{ section.settings.button_color }}"><a class="button-text-{{ section.settings.text_color }}" href="{{ section.settings.hero_button_one_url }}"> {{ section.settings.hero_button_one_text }} </a></button>
                        <button class="{{ section.settings.button_style }} {{  section.settings.button_style }}-{{ section.settings.button_color }}"><a class="button-text-{{ section.settings.text_color }}" href="{{ section.settings.hero_button_two_url }}">{{ section.settings.hero_button_two_text }}</a></button>
                    </div>
                {% endif %}
            
        </div>
        
    </div>
</div>


{% schema %}
{
    "name": "hero",
    "settings": [
        {
            "type": "select",
            "id": "hero_heading_text_color",
            "label": "Heading text color",
            "default": "white",
            "options": [
                {"value": "#182e4c", "label": "Blue"},
                {"value": "#fef050", "label": "Yellow"},
                {"value": "white", "label": "White"}
            ]
        },
        {
            "type": "image_picker",
            "id": "hero_img_url",
            "label": "Pick a background image"
        },
        {
            "type": "text",
            "id": "hero_header_text",
            "label": "Heading text",
            "default": "Heading"
        },
        {
            "type": "header",
            "content": "Button settings "
        },
        {
            "type": "text",
            "id": "hero_button_one_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "hero_button_one_url",
            "label": "Button one URL"
        },
        {
            "type": "text",
            "id": "hero_button_two_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "hero_button_two_url",
            "label": "Button two URL"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style primary or secondary",
            "default": "primary-button",
            "options": [
                {"value": "primary-button", "label": "Primary"},
                {"value": "secondary-button", "label": "Secondary"}
            ]
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "default": "red",
            "options": [
                {"value": "red", "label": "Red"},
                {"value": "yellow", "label": "Yellow"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Button text color",
            "default": "white",
            "options": [
                {"value": "white", "label": "White"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "checkbox",
            "id": "remove_buttons",
            "label": "Remove buttons",
            "default": true
        
        },
        {
            "type": "header",
            "content": "Opacity overlay"
        },
        {
            "type": "range",
            "id": "overlay_opacity",
            "label": "Opacity",
            "info": "Increase contrast for legible text",
            "unit": "%",
            "min":  0,
            "max": 100,
            "step": 5,
            "default": 30
        },
        {
            "type": "color",
            "id": "overlay_color",
            "label": "Overlay color",
            "default": "#000"
        },
        {
            "type": "checkbox",
            "id": "show_overlay",
            "label": "Show overlay behind text",
            "default": false
        }
        ],
        "presets": [
            {
                "name": "hero"
            }
        ]
}
{% endschema %}