

<div class="product-selection">
    <div class="pop-up" style="background-color: {{ section.settings.pop_up_color }};">
    <div id="pop-up-information">
        <h1 style="color: {{ section.settings.pop_up_text_color }} ;">{{ section.settings.pop_up_heading}}</h1>
        <button type="button" onclick="openPopup(event)" class="{{ section.settings.button_style }} {{  section.settings.button_style }}-{{ section.settings.button_color }}">
            <a class="button-text-{{ section.settings.text_color }}" href="{{ section.settings.pop_up_button_url }}">{{ section.settings.pop_up_button_text}}</a>
        </button>
    </div>

    <div id="popup-container" class="popup-container" style="display: none;">
        <div class="question" data-question="Q1">
            <p>Spørgsmål 1: Hvad er din præference?</p>
            <div class="options">
                <button onclick="answerQuestion('Q1', 'Mulighed 1')"><p class="bold">Mulighed 1</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q1', 'Mulighed 2')"><p class="bold">Mulighed 2</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q1', 'Mulighed 3')"><p class="bold">Mulighed 3</p><p>Beskrivelse</p></button>
            </div>
        </div>

        <div class="question" data-question="Q2" style="display: none;">
            <p>Spørgsmål 2: Et eller andet spørgsmål?</p>
            <div class="options">
                <button onclick="answerQuestion('Q2', 'Mulighed A')"><p class="bold">Mulighed A</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q2', 'Mulighed B')"><p class="bold">Mulighed B</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q2', 'Mulighed C')"><p class="bold">Mulighed C</p><p>Beskrivelse</p></button>
            </div>
        </div>
        <div class="question" data-question="Q3" style="display: none;">
            <p>Spørgsmål 3: Et eller andet spørgsmål?</p>
            <div class="options">
                <button onclick="answerQuestion('Q3', 'Mulighed A')"><p class="bold">Mulighed A</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q3', 'Mulighed B')"><p class="bold">Mulighed B</p><p>Beskrivelse</p></button>
                <button onclick="answerQuestion('Q3', 'Mulighed C')"><p class="bold">Mulighed C</p><p>Beskrivelse</p></button>
            </div>
        </div>
        <div class="flex" style="justify-content: center;">
            <button onclick="closePopup()" class="close-button {{ section.settings.button_style }} {{  section.settings.button_style }}-{{ section.settings.button_color }}"><a class="button-text-{{ section.settings.text_color }}">{{ section.settings.close_button_text}}</a></button>
            <button id="retry" onclick="retryTest()" style="    background-color: transparent; width: 40px; color: white; border: none;">{% render 'icon-retry' %}</button>
        </div>
        
    </div>
</div>


        



   
    <h1 class="text-center">{{ section.settings.heading_package_solution }}</h1>

    <div id="result" class="result text-center" style="display: none;">
        <p>Din foreslåede pakkeløsning: <span id="result-text"></span></p>
    </div>
    
    <div class="package-solution">
        {% for block in section.blocks %}
            <div class="package" data-package-number="{{ block.settings.package_number }}">
                <div>
                    <a href="{{ block.settings.client_case_url }}">{{ block.settings.client_case_name }}</a>
                    <div class="solution solution-one" id="package_{{ block.settings.package_number }}">
                        <p><b>{{ block.settings.package_product.title }}</b></p>
                        <p>{{ block.settings.package_product.description }}</p>
    
                        <!-- Form for adding product to cart -->
                        {% form 'product', block.settings.package_product, class: 'product-form' %}
                            <input type="hidden" name="quantity" value="1">
                            <input type="hidden" name="id" value="{{ block.settings.package_product.id }}">
                            <input type="hidden" name="variantId" value="{{ block.settings.package_product.variants.first.id }}">
                            <button type="submit" class="button product-add">Vælg produkt</button>
                        {% endform %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    
    <div class="flex" style="flex-wrap: wrap; justify-content: center; margin-bottom:5vw; gap: 20px; ">
        <button type="button" class="add-to-cart primary-button primary-button-yellow" id="addToCartBtn" style="color: var(--text-color);">Lig i kurv</button>
        <button class="secondary-button secondary-button-yellow "> <a class="button-text-blue" href="">Kontakt sælger</a></button>
        <button class="secondary-button secondary-button-yellow "> <a class="button-text-blue" href="">Send tilbud til mail</a></button>
    </div>
        
 



</div>




{% schema %}
{
    "name": "Product-selection",
    "settings": [
        {
            "type": "color",
            "id": "pop_up_color",
            "label": "Background color",
            "default": "#182e4c"
        },
        {
            "type": "header",
            "content": "Heading settings"
        },
        {
            "type": "select",
            "id": "pop_up_text_color",
            "label": "Heading text color",
            "default": "white",
            "options": [
                {"value": "#182e4c", "label": "Dark"},
                {"value": "white", "label": "Light"}
            ]
        },
        {
            "type": "text",
            "id": "pop_up_heading",
            "label": "Heading text",
            "default": "Heading"
        },
        {
            "type": "header",
            "content": "Button settings"
        },
        {
            "type": "text",
            "id": "pop_up_button_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "text",
            "id": "close_button_text",
            "label": "Button close pop up text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "pop_up_button_url",
            "label": "Button one URL"
        },
        {
            "type": "text",
            "id": "heading_package_solution",
            "label": "Heading for package solution",
            "default": "Heading"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style primary or secondary",
            "default": "primary-button",
            "options": [
                {"value": "primary-button", "label": "Primary"},
                {"value": "secondary-button", "label": "Secondary"}
            ]
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "default": "red",
            "options": [
                {"value": "red", "label": "Red"},
                {"value": "yellow", "label": "Yellow"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Button text color",
            "default": "white",
            "options": [
                {"value": "white", "label": "White"},
                {"value": "blue", "label": "Blue"}
            ]
        }
        ],
        "blocks": [
            {
                "name": "package",
                "type": "fdnkdf",
                "settings": [
                    {
                        "type": "product",
                        "id": "package_product",
                        "label": "product"
                    },
                    {
                        "type": "number",
                        "id": "package_number",
                        "label": "Package number"
                    },
                    {
                        "type": "text",
                        "id": "header_package",
                        "label": "Heading package",
                        "default": "Heading"
                    },
                    {
                        "type": "text",
                        "id": "client_case_name",
                        "label": "Name client case",
                        "default": "Client case"
                    },
                    {
                        "type": "url",
                        "id": "client_case_url",
                        "label": "Name client url"
                    }
                ]
            }
        ],
        "presets": [
                {
                    "name": "product-selection"
                }
            ]
}
{% endschema %}