<div class="quote" style="background-color: {{ section.settings.quote_color }} ;"> 

    <div class="quote-information">
        <img src="{{ section.settings.quote_icon |  image_url  }}" alt="">
        <p style="color: {{ section.settings.quote_text_color }} ;"> {{ section.settings.quote_description }}</p>
        <h1 style="color: {{ section.settings.quote_text_color }} ;"> {{ section.settings.quote_author }} </h1>
        <p style="color: {{ section.settings.quote_text_color }} ;" class="author-education"> {{ section.settings.quote_author_education }} </p>

    </div>

</div>



{% schema %}
    {
        "name": "quote",
        "settings": [
            {
                "type": "select",
                        "id": "quote_color",
                        "label": "Background color",
                        "default": "#fef050",
                        "options": [
                            {"value": "white", "label": "White"},
                            {"value": "#182e4c", "label": "Blue"},
                            {"value": "#fef050", "label": "Yellow"}
                        ]
            },
            {
                "type": "select",
                        "id": "quote_text_color",
                        "label": "Text color",
                        "default": "#182e4c",
                        "options": [
                            {"value": "white", "label": "White"},
                            {"value": "#182e4c", "label": "Blue"},
                            {"value": "#fef050", "label": "Yellow"}
                        ]
            },
            {
                "type": "image_picker",
                "id": "quote_icon",
                "label": "Icon image"

            },
            {
                "type": "text",
                "id": "quote_description",
                "label": "Quote",
                "default": "Here is an awsome quote"
            },
            {
                "type": "text",
                "id": "quote_author",
                "label": "Author",
                "default": "Name"
            },
            {
                "type": "text",
                "id": "quote_author_education",
                "label": "Author education",
                "default": "Author education"
            }           
            ],
            "presets": [
                    {
                        "name": "Quote"
                    }
                ]
    }
    {% endschema %}