

<div class="shopping">
    <div class="products">
        <h3 class="categorie-name">Service aftale</h3>
        <div class="service">
            <p class="product-name"><b>Service aftale</b></p>
            <p class="product description">Description</p>
            <p class="price">0</p>

        </div>
        <h3 class="categorie-name">Produkter</h3>
        
        

        <div class="product" >
            {% for block in section.blocks %}
            {% comment %} {% if block.settings.package %} <h3 class="categorie-name">Pakker</h3>{% endif %} {% endcomment %}
            {% assign product = block.settings.products %}
            {% assign product_title = product.title %}
            {% assign product_image = product.image | img_url %}
            {% assign product_description = product.description %}
            {% assign product_price = product.price %}
            
            <img {% if block.settings.package %} class="padding-image" {% endif %} src="{{ product_image }}" alt="">
            <div  class="product-information">
                <p class="product-name">{{ product_title }}</p>
                <p class="product-description">{{ product_description }}</p>
                <p class="price">{{ product_price | divided_by: 100.0  }}kr</p>
                <div class="amount" data-product-title="{{ product.title }}" data-product-id="{{ product.id }} " data-price="{{ product.price | divided_by: 100.0  }}" >
                    <div class="number">0</div>
                    <div class="icon-minus">{% render 'icon-minus' %}</div>
                    <div class="icon-plus">{% render 'icon-plus' %}</div>
                </div>
                {% if block.settings.package %}
                    <hr>
                    <div class="package">
                        <img src="{{ block.settings.package_image_one | img_url }} }}" alt="">
                        <div class="product-information">
                            <p class="product-name">{{ block.settings.package_title_one }}</p>
                            <p class="product-description">{{ block.settings.package_description_one }}</p>
                            <div class="amount"></div>
                        </div>
                    </div>
                    <div class="package">
                        <img src="{{ block.settings.package_image_two | img_url }} }}" alt="">
                        <div class="product-information">
                            <p class="product-name">{{ block.settings.package_title_two }}</p>
                            <p class="product-description">{{ block.settings.package_description_two }}</p>
                            <div class="amount"></div>
                        </div>
                    </div>
                    
                {% endif %}
                <!-- Form for adding product to cart -->
                {% form 'product', product %}
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="id" value="{{ product.id }}">
                                <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    
                    <button type="submit" class="button product-add">Add to cart</button>
                {% endform %}
            </div>
                        
            {% endfor %}


        </div>

    </div>
        <div class="cart">
            <h3>Cart</h3>
            
            <div class="subtotal grid">
                <p>Subtotal</p>
                <p class="value align-right" id="subtotal-value">0</p>
                <div class="update-subtotal"></div>
            </div>
            <div class="shipping grid">
                <p>Shipping</p>
                <p class="align-right" id="shipping-value">{{ section.settings.delivery_price }}</p>
            </div>
            <div class="selected-products">
                <!-- Dette område vil blive opdateret dynamisk -->
            </div>
            <hr>
            <div class="total grid">
                <p>Total</p>
                <p class="align-right" id="total-value">0</p>
            </div>
            <button id="cart-button" class="{{ section.settings.button_style }} {{ section.settings.button_color }}"><a class="button-text-{{ section.settings.text_color }}" href="{{ routes.cart_url }}">{{ section.settings.cart_button_text }} {% render 'icon-arrow-right' %}</a></button>

            </div>

</div>





{% schema %}
{
    "name": "shopping",
    "settings": [
        {
            "type": "number",
            "id": "delivery_price",
            "label": "Delivery price",
            "default": 500

        },
        {
            "type": "header",
            "content": "Button settings "
        },
        {
            "type": "text",
            "id": "cart_button_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "cart_button_url",
            "label": "Button two URL"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style primary or secondary",
            "default": "primary-button",
            "options": [
                {"value": "primary-button", "label": "Primary"},
                {"value": "secondary-button", "label": "Secondary"}
            ]
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "default": "red",
            "options": [
                {"value": "red", "label": "Red"},
                {"value": "yellow", "label": "Yellow"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Button text color",
            "default": "white",
            "options": [
                {"value": "white", "label": "White"},
                {"value": "blue", "label": "Blue"}
            ]
        }
        ],
        "blocks": [
            {
                "name": "products",
                "type": "products",
                "settings": [
                    
                    {
                        "type": "product",
                        "id": "products",
                        "label": "product"
                    },
                    {
                        "type": "header",
                        "content": "Package product settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "package",
                        "label": "Package product",
                        "default": false
                    },
                    {
                        "type": "image_picker",
                        "id": "package_image_one",
                        "label": "Image package one"
                    },
                    {
                        "type": "text",
                        "id": "package_title_one",
                        "label": "Title package one",
                        "default": "title"
                    },
                    {
                        "type": "text",
                        "id": "package_description_one",
                        "label": "Description package one",
                        "default": "description"
                    },
                    {
                        "type": "image_picker",
                        "id": "package_image_two",
                        "label": "Image package one"
                    },
                    {
                        "type": "text",
                        "id": "package_title_two",
                        "label": "Title package one",
                        "default": "title"
                    },
                    {
                        "type": "text",
                        "id": "package_description_two",
                        "label": "Description package one",
                        "default": "description"
                    }
                    
                ]
            }
        ],
        "presets": [
                {
                    "name": "product-selection"
                }
            ]
}
{% endschema %}