

<div class="shopping">
    <div class="products">
        <h3 class="categorie-name">Service aftale</h3>
        <div class="service">
            <p class="product description" style="grid: none; padding-right:100px;">LifeBoards serviceaftale inkluderer bla.: LifeBoard-trackeren samt monitorering, udskiftning af løsdele, årligt status-måde, rådgivning og vejledning</p>
            <p class="price">1000kr</p>
        </div>
        <h3 class="categorie-name">Produkter</h3>
        
        

        <div class="product" >
            {% for block in section.blocks %}
                {% comment %} {% if block.settings.package %} <h3 class="categorie-name">Pakker</h3>{% endif %} {% endcomment %}
                {% assign product = block.settings.products %}
                {% assign product_title = product.title %}
                {% assign product_image = product.featured_image.src %}
                {% assign product_description = product.description %}
                {% assign product_price = product.price %}
            
                
                <img {% if block.settings.package %} class="padding-image"  {% endif %} src="{{ block.settings.product_image_picker | image_url }}" alt="">
                <div  class="product-information">
                    <p class="product-name">{{ product_title }}</p>
                    <p class="product-description">{{ product_description }}</p>
                    <p class="price">{{ product_price | divided_by: 100.0  }}kr</p>
                    <div class="amount" data-product-title="{{ product.title }}" data-product-id="{{ product.id }}" data-variant-id="{{ product.variants.first.id }}" data-price="{{ product.price | divided_by: 100.0 }}">

                    
                        <!-- Form for adding product to cart -->
                        {% form 'product', product %}
                            <input type="hidden" name="id" value="{{ product.id }}">
                            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                            <input type="hidden" name="quantity" value="1">
                            <label class="number" data-product-id="{{ product.id }}" data-variant-id="{{ product.variants.first.id }}">0</label>
                        {% endform %}

                            <div class="icon-minus">{% render 'icon-minus' %}</div>
                            <div class="icon-plus">{% render 'icon-plus' %}</div>
                    </div>
                    {% if block.settings.package %}
                        <hr>
                        <div class="package">
                            <img src="{{ block.settings.package_image_one | img_url }} }}" alt="">
                            <div class="product-information">
                                <p class="product-name">{{ block.settings.package_title_one }}</p>
                                <p class="product-description">{{ block.settings.package_description_one }}</p>
                                <div class="amount"></div>
                            </div>
                        </div>
                        <div class="package">
                            <img src="{{ block.settings.package_image_two | img_url }} }}" alt="">
                            <div class="product-information">
                                <p class="product-name">{{ block.settings.package_title_two }}</p>
                                <p class="product-description">{{ block.settings.package_description_two }}</p>
                                <div class="amount"></div>
                            </div>
                        </div>
                    {% endif %}
                </div>      
            {% endfor %}
        </div>
    </div>
        <div class="cart">
            <h3>Kurv</h3>
            <div class="subtotal grid">
                <p>Subtotal</p>
                <p class="value align-right" id="subtotal-value">0</p>
                <div class="update-subtotal"></div>
            </div>
            <div class="grid">
                <p>Service aftale</p>
                <p class="align-right">0</p>
            </div>
            <div class="shipping grid">
                <p>Levering</p>
                <p class="align-right" id="shipping-value">{{ section.settings.delivery_price }}</p>
            </div>
            
            <div class="selected-products">
                <!-- Dette område vil blive opdateret dynamisk -->
            </div>

            <hr>
            <div class="total grid">
                <p>Total</p>
                <p class="align-right" id="total-value">0</p>
            </div>
            <button type="button" id="cart-button" class="{{ section.settings.button_style }} {{ section.settings.button_color }}">Læg i kurv {% render 'icon-arrow-right' %} </button>
        </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function () {
    var quantityLabels = document.querySelectorAll('.number');
    var cartButton = document.getElementById('cart-button');
    var selectedProducts = {};

    
    document.querySelectorAll('.icon-plus, .icon-minus').forEach(function (icon) {
        icon.addEventListener('click', function () {
            var quantityLabel = icon.closest('.amount').querySelector('.number');
            var quantity = parseInt(quantityLabel.textContent) || 0;

            if (icon.classList.contains('icon-plus')) {
                quantity + 1;
            } else if (quantity > 0) {
                quantity - 1;
            }

            quantityLabel.textContent = quantity;

         
            var productId = icon.closest('.amount').dataset.productId;
            var variantId = icon.closest('.amount').dataset.variantId;

            console.log(`Adding product with Variant ID ${variantId} to cart. Quantity: ${quantity}`);

     
            selectedProducts[variantId] = quantity;
        });
    });

    
    cartButton.addEventListener('click', function () {
        console.log('Cart button clicked. Selected products:', selectedProducts);

   
        var productsArray = [];

    
        Object.entries(selectedProducts).forEach(([variantId, quantity]) => {
            productsArray.push({ id: variantId, quantity: quantity });
        });

        console.log('Products to be added to cart:', productsArray);


        fetch('/cart/add.js', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ items: productsArray }),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Failed to add products to cart. Response: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Products added to cart. Response:', data);

                window.location.href = '/cart';
            })
            .catch(error => {
                console.error('Error adding products to cart:', error);
            });

        selectedProducts = {};
    });
});


</script>




{% schema %}
{
    "name": "shopping",
    "settings": [
        {
            "type": "number",
            "id": "delivery_price",
            "label": "Delivery price",
            "default": 500

        },
        {
            "type": "header",
            "content": "Button settings "
        },
        {
            "type": "text",
            "id": "cart_button_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "cart_button_url",
            "label": "Button two URL"
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style primary or secondary",
            "default": "primary-button",
            "options": [
                {"value": "primary-button", "label": "Primary"},
                {"value": "secondary-button", "label": "Secondary"}
            ]
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "default": "red",
            "options": [
                {"value": "red", "label": "Red"},
                {"value": "yellow", "label": "Yellow"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Button text color",
            "default": "white",
            "options": [
                {"value": "white", "label": "White"},
                {"value": "blue", "label": "Blue"}
            ]
        }
        ],
        "blocks": [
            {
                "name": "products",
                "type": "products",
                "settings": [
                    
                    {
                        "type": "product",
                        "id": "products",
                        "label": "product"
                    },
                    {
                        "type": "image_picker",
                        "id": "product_image_picker",
                        "label": "Pick a product image"
                    },
                    {
                        "type": "header",
                        "content": "Package product settings"
                    },
                    {
                        "type": "checkbox",
                        "id": "package",
                        "label": "Package product",
                        "default": false
                    },
                    {
                        "type": "image_picker",
                        "id": "package_image_one",
                        "label": "Image package one"
                    },
                    {
                        "type": "text",
                        "id": "package_title_one",
                        "label": "Title package one",
                        "default": "title"
                    },
                    {
                        "type": "text",
                        "id": "package_description_one",
                        "label": "Description package one",
                        "default": "description"
                    },
                    {
                        "type": "image_picker",
                        "id": "package_image_two",
                        "label": "Image package one"
                    },
                    {
                        "type": "text",
                        "id": "package_title_two",
                        "label": "Title package one",
                        "default": "title"
                    },
                    {
                        "type": "text",
                        "id": "package_description_two",
                        "label": "Description package one",
                        "default": "description"
                    }
                    
                ]
            }
        ],
        "presets": [
                {
                    "name": "product-selection"
                }
            ]
}
{% endschema %}