<div class=" text-with-image {% if section.settings.reverse_layout == true %} text-with-image-reverse {% endif %}" style="height: {{ section.settings.section_height }}px;"  >
    
    <div class="information {% if section.settings.reverse_layout == true %} information-reverse {% endif %}">
        <img  class="icon" src="{{ section.settings.icon_url | img_url: 'master' }}" alt="">
        <h1>{{ section.settings.information_header_text }}</h1>
        <p>{{ section.settings.information_description_text }}</p>
        {% if section.settings.section_add_button %}
            <button class="{{ section.settings.button_style }} {{  section.settings.button_style }}-{{ section.settings.button_color }}"><a class="button-text-{{ section.settings.text_color }}" href="{{ section.settings.information_button_url }}">{{ section.settings.information_button_text }}</a></button>    
        {% endif %}
    </div>
    
        
            {% if section.settings.remove_image_section %}
                <div class="image-section">
                    <img src="{{ section.settings.image_url | img_url: 'master' }}" alt="">
                </div>
            
            {% endif %}
         
    
    
</div>

{% schema %}
{
    "name": "text-with-image",
    "settings": [
        {
            "type": "header",
            "content": "General settings "
        },
        {
            "type": "checkbox",
            "id": "reverse_layout",
            "label": "Switch image side",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "remove_image_section",
            "label": "Remove image",
            "default": true
        },
        {
            "type": "range",
            "id": "section_height",
            "label": "Section height",
            "unit": "px",
            "min":  100,
            "max": 1200,
            "step": 100,
            "default": 500
        },
        {
            "type": "image_picker",
            "id": "image_url",
            "label": "Section image"
        },
        {
            "type": "text",
            "id": "information_header_text",
            "label": "Heading text",
            "default": "Heading"
        },
        {
            "type": "text",
            "id": "information_description_text",
            "label": "Description text",
            "default": "Description"
        },
        {
            "type": "image_picker",
            "id": "icon_url",
            "label": "Icon image"
        },
        {
            "type": "header",
            "content": "Button settings "
        },
        {
            "type": "text",
            "id": "information_button_text",
            "label": "Button one text",
            "default": "Button"
        },
        {
            "type": "url",
            "id": "information_button_url",
            "label": "Button one URL"
        },
        {
            "type": "checkbox",
            "id": "section_add_button",
            "label": "Add button",
            "default": true
        },
        {
            "type": "select",
            "id": "button_style",
            "label": "Button style primary or secondary",
            "default": "primary-button",
            "options": [
                {"value": "primary-button", "label": "Primary"},
                {"value": "secondary-button", "label": "Secondary"}
            ]
        },
        {
            "type": "select",
            "id": "button_color",
            "label": "Button color",
            "default": "red",
            "options": [
                {"value": "red", "label": "Red"},
                {"value": "yellow", "label": "Yellow"},
                {"value": "blue", "label": "Blue"}
            ]
        },
        {
            "type": "select",
            "id": "text_color",
            "label": "Button text color",
            "default": "white",
            "options": [
                {"value": "white", "label": "White"},
                {"value": "blue", "label": "Blue"}
            ]
        }
        ],
        "presets": [
            {
                "name": "Text with image"
            }
        ]
}
{% endschema %}